*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #d2d1d3;
    
    border-bottom: 1px solid;
    border-color: black;
    
    position: sticky;
}

h1{
    font-family: 'cormorant', serif;
    font-size: 80px
}

h2{
    font-family: 'cormorant, serif';
    font-weight: lighter;
    font-size: 50px
}

h3{
    font-family: 'rajdhani', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

h4{font-family: 'rajdhani', sans-serif;}

h5{
    font-family: 'rajdhani', sans-serif; 
    color:#d2d1d3;
    font-weight: lighter;
}

.artikeltext .billedtekst{
    font-family: 'rajdhani', sans-serif;
    color:#d2d1d3;
    font-weight: lighter;
    font-size: small;

    text-align: left;
}

.overskrift{
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 50px;
}

.forfatter{
    text-align: right;
    padding-right: 30px;
}

.artikeltext{
    padding-left: 350px;
    padding-right: 350px;
}

.artikeltext p{
    font-family: 'PT serif';
    font-size: large;
    text-align: left;
}

.læsmereoverskrift{
    text-align: left;
    font-family: 'rajdhani', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    padding-top: 100px;
    padding-left: 80px;
}

.læsmere{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.læsmere h2{
    padding-top: 20px;
}

.bokse{
    display: flex;
    justify-content: space-around;
}

.faktaboks{
    border-style: solid;
    border-color: black;

    text-align: left;

    padding:10px;
    padding-bottom: 20px;
}

.faktaboks ul{
    list-style: none;
    font-family: 'PT serif', serif;
    font-size: large;
}

li a{
    font-weight: bold;
    color:#a56f69;
}

li a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black
}

nav{
    display: flex;
    justify-content: space-between;
    /** hvordan får jeg emnerne til ikke at ligge sig grimt når skærmen bliver mindre**/
    position: sticky;
    /**pludselig blev min nav meget tyk, uden jeg har tilført padding (idk why) - hvad kan være sket?**/
    
}

#emner{
    padding-top: 70px;
    padding-inline-end: 50px;
}

nav a{
    background-color: #a56f69;
    padding: 10px;
    border-style: solid;
    border-color: black;
    font-family: 'rajdhani', sans-serif;
}

nav a:hover{
    background-color: #5d6e8d;
}

#logo{
    background-color: #d2d1d3;
    border-style: hidden;
    padding-top: 30px;
    padding-left: 50px;
}

#abonner{
    border-style: solid;
    border-color: black;
    background-color: white;
}

#abonner:hover {
    background-color: #5d6e8d;
}
main{
    text-align: center;
    padding-top: 100px;
}
main .reklame{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
  
.artikel{
    text-align: center;
    /** hvordan får jeg linket ind i center?**/
}

.streg{
    color:#d2d1d3;
}

img{
    padding-bottom: 40px;
}

.billedemedtext{
    padding:0
}

.abc{
    text-align: left;
    padding:50px;
    padding-top:100px;
}

.a-å{
    padding-top: 50px;
}

.a-å ul{
    list-style: none;
    font-family: 'rajdhani', sans-serif;
}

.a-å ul:hover{
    text-decoration: underline;
}

.emnebox{
    border-style: solid;
    border-color: black;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    
    font-family:'rajdhani', sans-serif;
}

.kort{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
}

.kort section{
    width: 500px;
    height: 700px;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
}

.kort h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.kort h3{
    padding-bottom: 20px;
}

.billede{
    width: 500px;
    height: 500px;
    background-color: #5d6e8d;
}

.reklame{
    padding-bottom: 50px;
    padding-top: 200px;
}

footer{
    display: flex;
    justify-content: space-between;

    padding-top: 100px;

    background-color: #d2d1d3;
    padding: 20px;
    
    border-color: black;
    border-top: 1px solid;
}

#footerstart{
    display: flex;
    justify-content: space-between;
}

#footerstart section{
    padding-right: 40px;
}

#udgiver{
    font-family: 'rajdhani', sans-serif;
    font-size: large;
    color: #908d8b;
    padding-bottom: 10px;
}

.footertext{
    font-family:'rajdhani', sans-serif;
    font-size: large;
}

.footernavn{
    font-family:'rajdhani', sans-serif;
    font-weight: bold;
}

.knap{
    background-color: #5d6e8d;
    border-style: solid;
    border-color: black;
    font-family: 'rajdhani',sans-serif;
    padding:5px;
}

.knap:hover{
    background-color: white;
}

input{
    padding:10px;
    width: 180px;
    height: 43px;

    font-family:'rajdhani', sans-serif;

    border-style: solid;
    border-color: black;
    /** hvordan får jeg den her til at passe til de andre - jeg har prøvet ALT**/
}

