*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #d2d1d3;
    
    border-bottom: 1px solid;
    border-color: black;
    
    position: sticky;
    
    padding-bottom: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a{
    background-color: #a56f69;
    padding: 10px;
    border-style: solid;
    border-color: black;
    font-family: 'cormorant', serif;
}

nav a:hover{
    background-color: #5d6e8d;
}

#emner{
    padding-top: 30px;
}

#logo{
    background-color: #d2d1d3;
    border-style: hidden;
}

#abonner{
    border-style: solid;
    border-color: black;
    background-color: white;
}

#abonner:hover {
    background-color: #5d6e8d;
}

a{
    text-decoration: none;
    color: black
}

h3{
    font-family: 'rajdhani', sans-serif;
    font-weight: lighter;
}

footer{
    display: flex;
    justify-content: space-between;

    background-color: #d2d1d3;
    padding: 20px;
    
    border-color: black;
    border-top: 1px solid;
}

#footerstart{
    display: flex;
    justify-content: space-between;
}

#footerstart section{
    padding-right: 40px;
}

#udgiver{
    font-family: 'rajdhani', sans-serif;
    font-size: large;
    color: #908d8b;
    padding-bottom: 10px;
}

.footertext{
    font-family:'rajdhani', sans-serif;
    font-size: large;
}

.footernavn{
    font-family:'rajdhani', sans-serif;
    font-weight: bold;
}

.knap{
    background-color: #5d6e8d;
    border-style: solid;
    border-color: black;
    font-family: 'rajdhani',sans-serif;
    padding:5px;
}

.knap:hover{
    background-color: white;
}

input{
    padding:10px;
    width: 180px;
    height: 15px;

    font-family:'cormorant', serif;

    border-style: solid;
    border-color: black;
}

